<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
  <% @video_extensions.each do |video_extension| %>
    <li><%= render 'video_extension',:video_extension=>video_extension %></li>
  <% end %>
</ul>
<%= link_to "new video", new_video_extension_path, :class=>'button tiny' %>
