<iframe src="//player.vimeo.com/video/82920243" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/82920243">Lights Out - Who's There Film Challenge (2013)</a> from <a href="http://vimeo.com/dauid">David F. Sandberg</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
<iframe width="500" height="281" src="//www.youtube.com/embed/9PLY4TWo7f0" frameborder="0" allowfullscreen></iframe>
<iframe height=281 width=500 src="http://player.youku.com/embed/XNjg2NDk0OTE2" frameborder=0 allowfullscreen></iframe>
